body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header, main{
  width:1024px; margin:0 auto
}
header{
  height:12vh;
}
main{
  height: 80vh;
  padding:10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin: 0 auto;
  overflow-y: scroll;
}
header {
  display: flex;
  align-items: center;
}
header img {
  width: 150px;
}
header ul li {
  list-style: none;
}
li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
}
.cards {
  width: 300px;
  height: 300px;
  background-color: rgb(76, 120, 120);
}